// Specific CSS for your home-page

.home-wrapper {
  position: relative;
  height:100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content:center;
  text-align:center;
  background: linear-gradient(255deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%);
  overflow: hidden;
  align-items: center;
}



.home-container {
  align-items: center;
  display : flex;
  height: 50vw;
  width: 70vw;
}

.home-info {
  display : flex;
  flex-direction: column;
  margin-bottom: 15vh;
  width: 50vw;
}

.home-info h1 {
  z-index: 1;
  font-weight: bolder;
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 3px #333;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  // margin-right:10px;

}

.home-info p {
  z-index: 1;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  text-shadow: 2px 2px 3px #333;
}


.home-text {
  // margin-left:50px;
 display:flex;
  flex-direction:column;

  text-align:left;
  // margin-bottom: 20px;
}

.home-text h1{
  font-size:4rem;
  text-align: left;

}

.home-text p{
  margin-top: 10px;
  font-size:1.5rem;

}
 .home-buttons {
    width:60%;
    display:flex;
   // justify-content:center;
    margin-top:10px;

  }

  .home-buttons .btn-home-code {
    margin-bottom: 10px;
    padding: 16px 60px;
  }
  .home-buttons .btn-home-address {
    z-index:1;
    padding: 16px 60px;
  }

.home-search {
  z-index:1;
  height: 3.5rem;
  background-color:white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  outline: none !important;
}

.home-search .btn {
  top: 8px;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: $corona-blue;
}


