.wrapper {
 background-image: asset-url("banner-liquor.jpg");
  // background: #E5E5E5;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content:center;
  text-align:center;
  align-items: center;
}
