<div class="bar-selection">
  <div class="sidebar">

    <form action="/bars" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="TaVVviL2jE0ZXBDgnoAcFBxTeKpgH0j8p/UbBVxRm/xiIfpE+Q4JtwV4TZxLB3uS0cMhhj78erO3/Z5jDo6UrA==">
      <h4>Location: </h4>

      <input class="form-control string required simple_form search" type="text"  name="search[query]" id="search_query" accept-charset="UTF-8" placeholder="Search for adress...">

      <h4>Categories: </h4>
      <div class="checkbox-wrapper">
      <div class="checkbox-container">

      <div><input type="checkbox" id="selections" name="all_bars" value="Bars">
      <label for="all_bars">Bars</label></div>

      <div><input type="checkbox" id="selections" name="all_breweries" value="Breweries">
      <label for="all_breweries">Breweries</label></div></div>

      <div class="checkbox-container">
      <div><input type="checkbox" id="selections" name="all_lounges" value="Lounges">
      <label for="all_lounges">Lounges</label></div>

      <div><input type="checkbox" id="selections" name="all_nightclubs" value="Nightclubs">
      <label for="all_nightclubs">Nightclubs</label></div></div>
      </div>
      <h4>Price Range</h4>
      <fieldset>
      <div class="radio-container">
      <div style="margin-right: 15px;"><input type="radio" name="price-range" id="least-expensive" value="€">
      <label for="least-expensive"><i class="fas fa-euro-sign"></i></label></div>

      <div style="margin-right: 15px;"><input type="radio" name="price-range" id="inexpensive" value="€€">
      <label for="inexpensive"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></label></div>

      <div style="margin-right: 15px;"><input type="radio" name="price-range" id="expensive" value="€€€">
      <label for="expensive"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></label></div>

      <div><input type="radio" name="price-range" id="most-expensive" value="€€€€">
      <label for="most-expensive"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></label></div>
      </div>
      </fieldset>

      <h4>Radius:</h4>
      <br>

      <div class="slider-container">
        <div class="range-slider">
          <span id="rs-bullet" class="rs-label">3</span>
          <input id="rs-range-line" class="rs-range" type="range" value="3" min="1" max="5">

        </div>

        <div class="box-minmax">
          <span>0</span><span>2000</span>
        </div>

      </div> <br>

      <div class="d-flex justify-content-center">
      <input type="submit" name="commit" value="Search" data-disable-with="Search Bars" class="form-button mt-3">
      </div>
    </form>

  </div>
  <div class="map-placeholder">
    <% @bars_array.each do |bar| %>
      <%= render 'shared/bar-card', bar: bar %>
    <% end %>
  </div>
</div>
