<div class="bar-selection">
  <div class="sidebar">
    <h2>Crazy Filters</h2>
  </div>
  <div class="map-placeholder">
    <% @bars_array.each do |bar| %>
      <%= render 'shared/bar-card', bar: bar %>
    <% end %>
  </div>
</div>
