<div class="wrapper">
  <div class="create-form">
    <h2 class="header">Create group</h2>
    <div class="form-group">
    <%= form_with model: @group, local: true do |form| %>
      <div class="form-inputs">
        <%= form.text_field :name, placeholder: "Group name"%>
      </div>
      <div class="form-actions">
        <%= form.submit class: "btn-home-address btn-home-address:hover"%>
      </div>
    <% end %>
    </div>
  </div>
</div>
