
<div class="wrapper">
  <div class="create-form">

    <div class="form-group">
    <div class="header">
    <h2 >Create group</h2>
    </div>
    <%= form_with model: @group, local: true do |form| %>
      <div class="form-inputs">
        <div id="group_name">
        <%= form.text_field :name, placeholder: "Group name"%>
        </div>
      </div>
      <div class="form-actions">
        <%= form.submit class: "btn-home-address btn-home-address:hover"%>
      </div>
    <% end %>
    </div>
  </div>
</div>


<%= render "shared/nav_during_crawl" %>

