<!-- Drink if -->


<!-- <div class="toggle drinking-cards" id="toggle-cards">
  <div class="a" id="1">Youngest person drinks</div>
  <div class="b" id="2">All the guys in the back drink</div>
  <div class="a" id="3">Drink for every sibling you have</div>
  <div class="b" id="4">All the girls drink</div>
  <div class="a" id="5">Everyone born in the summer drinks</div>
  <div class="b" id="6">Last person with their hands up drinks</div>
  <div class="a" id="7">Late people drink</div>
</div> -->

<div class="toggle">

  <div class="a game-element" id="first"> Youngest person drinks </div>
  <div class="b game-element" id="second"> All the guys in the back drink </div>
  <div class="a game-element" id="third"> Drink for every sibling you have </div>
  <div class="b game-element" id="fourth">Everyone born in the summer drinks</div>
  <div class="a game-element" id="fifth">Last person with their hands up drinks</div>
  <div class="b game-element" id="sixth">Late people drink</div>
  <div class="a game-element" id="seventh">All the girls drink</div>

</div>

<div class="footer-during-crawl" style="position: absolute; bottom: 0; width: 100vw; height: 8.2%;">
  <div class="footer-navigation">
    <h2><%= link_to 'Back to crawl', unique_group_stop_path(@group.token, (@stop.rank)) %></h2>
  </div>
</div>
