<!-- Drink if -->

<div class="toggle">

  <div class="a game-element active-game" id="first">Youngest person in the room drinks <i class="fas fa-child"></i></div>
  <div class="b game-element" id="second">All the gentlemen have a drink <i class="fas fa-mars"></i></div>
  <div class="a game-element" id="third">Play a round of "Categories" <i class="fas fa-folder-open"></i></div>
  <div class="b game-element" id="fourth">Choose a mate to drink with <i class="fas fa-glass-cheers"></i></div>
  <div class="a game-element" id="fifth">Last person with their hands up drinks <i class="far fa-hand-paper"></i></div>
  <div class="b game-element" id="sixth">You decide who has to drink <i class="far fa-hand-point-right"></i></div>
  <div class="a game-element" id="seventh">All the ladies have two drinks <i class="fas fa-venus"></i></div>
  <div class="b game-element" id="eight">Start a round of "Waterfall" <i class="fas fa-water"></i></div>
  <div class="a game-element" id="ninth">You have to finish your drink <i class="far fa-hand-point-up"></i></div>
  <div class="b game-element" id="tenth">Vote on the most sober person to drink <i class="fas fa-glass-martini"></i></div>
  <div class="a game-element" id="eleventh">All the single ladies have a drink <i class="fas fa-female"></i></div>
  <div class="a game-element" id="twelfth"> Everyone with an iPhone drinks <i class="fas fa-mobile-alt"></i></div>
  <div class="b game-element" id="thirteenth"> People who don't own crypto drink <i class="fab fa-bitcoin"></i></div>

</div>

<div class="button-spin" id="next-game" style="cursor:pointer;">
  Next player
</div>

<div class="footer-during-crawl" style="position: absolute; bottom: 0; width: 100vw; height: 8.2%;">
  <div class="footer-navigation">
    <h2><%= link_to 'Back to crawl', unique_group_stop_path(@group.token, (@stop.rank)) %></h2>
  </div>
</div>

<script>
  document.querySelector('body').classList.add('stop-scrolling');

  const btn = document.getElementById("next-game");

  btn.addEventListener("click", (event) => {
    const audio = new Audio(<%= audio_path(saufen.mp3)%>);
    debugger
    audio.play();
  });
</script>
<!--
'<%= audio_path 'saufen.mp3'%>' -->
