<div class="drink-container" style="width: 120px; height: 150px;">
  <img class="drink-sel" style="width: 70px; height: auto;" src="<%= drink.picture_url %>" alt="">
  <h5 class="drink-sel"><%= drink.name %></h5>
</div>
