<div class="loader-container">
  <div class="beer-container">
    <div id="glass">
      <div id="beer"></div>
    </div>
    <div id="poignet"></div>
    <div id="mousse_1"></div>
    <div id="mousse_2"></div>
    <div id="mousse_3"></div>
    <div id="mousse_4"></div>
    <div id="mousse_5"></div>
    <div id="mousse_volante"></div>
    <div id="mousse_interieur"></div>
    <div id="mousse_interieur_2"></div>
    <div id="mousse_interieur_3"></div>
    <div id="mousse_interieur_4"></div>
  </div>
  <p id="beer_text">Searching bars in your location...</p>
</div>
