<div class="header-during-crawl">
  <h2>Bar 1/2</h2> <!-- bar stop controller -->
</div>

<div class="navigation-display">
  <%= image_tag "navigation_placeholder.png" %>
</div>

<div class="footer-during-crawl">
  <div class="footer-navigation">
    <a href="#"><i class="fas fa-arrow-circle-left nav-left"></i></a>  <!-- bar stop controller -->
    <a href="#" id="spin-the-wheel">Spin it</a>
    <a href="#"><i class="fas fa-arrow-circle-right nav-right"></i></a> <!-- bar stop controller +1 -->
  </div>
</div>
