<div class="home">
  <h1> BarCrawler</h1>
  <p>Find the perfect route for an epic night out</p>
  <a href="bars" class="btn-home-address">Enter Address</a>
  <a href="group_stop" class="btn-home-code">Scan Code</a>
</div>

