<div class="home-wrapper">


  <div class="home-container">
    <div class="home-info">

      <div class="home-text">
      <h1 class="">BarCrawler</h1>
      <p class="">Find the perfect route for an epic night out</p>
      </div>
      <div class="search-bar-homepage">
        <%= render 'search' %>
      </div>
      <div class="home-buttons">
      <a href="group_stop" class="btn-home-code"><i class="fas fa-qrcode"></i> Enter Code</a>
      </div>

    </div>
    <div class="home-image">

    </div>
  </div>
</div>
</div>

<%= render "shared/footer" %>

