.bar-selection {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 1vw;

  .sidebar {
    width: 25%;
    height: 100%;

    h4 {
      margin: 15px auto;
    }
  }

  .map-container {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
  }
  #map {
    width: 75%;
    height: 40vh;
    z-index: 0;
    margin-bottom: 10px;
  }
}
