.create-form {
  display:flex;
  flex-direction:vertical;
  align-items: center;
  width: 50vw;
  justify-content:center;
  text-align:center;
   // margin: 0 auto;
}

 .header {
    width:80vw;
    margin: 0 auto;
  }

.form-group h4 {
  font-size: 2.2rem;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.form-inputs {
  padding-bottom: .5em;
  margin-bottom: 1em;
  margin-top: 2em;
  display:flex;
  justify-content:center;
}

.form-inputs h2{
  text-align: center;
}

#group_name {
  width: 47vh;
  height: 50px;
  text-align: center;
  font-size: 1.0em;
  border-radius: 10px;
  background-color: white;
  border: 1px solid $corona-blue;
  color: $corona-blue;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.form-group {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.radio-container {
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: block;
  width: 43%;
}

.checkbox-wrapper {
  display: flex;
}

.algolia-places {
  width: 80%;
  margin: 0 10%;
}

.form-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-right: 1px solid $corona-blue;
  transition: transform .5s ease;

  .search-form-control .form-control {
    height: 3.0rem;
  }

  h5 {
    text-align: center;
    padding: 0.4em;
  }

  .icons {
    font-size: 25px;
    color: $corona-gold;
  }

  .descriptors {
    color: $corona-blue;
    margin: 0px;
    font-size: 15px;
    font-weight: lighter;
  }

  .icon-border {
    border: 2px solid $corona-gold;
    width: 70%;
    padding: 7%;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
  }

  .fa-euro-sign {
    color: $corona-blue;
  }

  .selected-box {
    background-color: $corona-blue;
    border-radius: 15px;
    .descriptors {
      color: white;
      margin: 0px;
      font-size: 15px;
      font-weight: lighter;
    }
  }
}

.form-actions {
  font-size: 18px;
  display:flex;
  justify-content:center;
}

label {
  display: inherit;
  margin: 0px;
}

#toggle-sidebar {
  display: flex;
  flex-direction: column;
  color: $corona-blue;
  text-align: center;
  position: absolute;
  cursor: pointer;
  top: .1em;
  right: 4px;
  font-size: 1.7em;

  .apple-hamburger {
    width: 1.5em;
    height: 2em;
    padding: .3em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &:hover {
      opacity: 0.7;
    }

    .hamburger-line {
      width: 100%;
      height: .3em;
      background: $corona-blue;
      border-radius: 10px;
      transition: transform .5s ease;
    }

    .hamburger-line-one {
      transform: rotate(45deg) translateY(0.4em) translateX(0.4em);
    }

    .hamburger-line-two {
      transform: rotate(-45deg);
    }
  }


  i {
    transition: transform .5s ease;
    padding: .5em 0;

    &:hover {
      opacity: 0.7;
    }

  }
  .fa-arrow-right {
    transform: rotate(180deg);

  }

}

.sidebar {
  position: relative;
  background-color: white;
  transition: width .5s ease;
}

.sidebar.not-show {
  width: 3em;
  border-right: 1px solid $corona-blue;

  #toggle-sidebar {

    .apple-hamburger {

      &:hover {
        opacity: 0.7;
      }

      .hamburger-line {
        transform: rotate(0deg);
      }
    }

    i {
      transform: rotate(0deg);
    }
  }

  .form-container {
    transform: translateX(-20vw);
  }
}

.adjust-position {
  position: fixed;
  bottom: 44vh;
  right: 2vw;
}

.adjust-selectors {
  position: fixed;
  bottom: 48vh;
  right: 2.2vw;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

