.create-form {
  width: 50vw;
  margin: 0 auto;

  .header {
    margin-bottom: 1em;
  }
}

.form-inputs {
  padding-bottom: .5em;
  margin-bottom: 1em;
}

#group_name {
  height: 50px;
}

.radio-container {
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: block;
  width: 50%;
  margin: 10px;
}

.checkbox-wrapper {
  display: flex;
}

.algolia-places {
  width: 80%;
  margin: 0 10%;
}

.form-container {
  background-color: white;

  h4 {
    margin: 0px auto;
    text-align: center;
    padding: 15px;
  }
}





