// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "footer";
@import "bar-card";
@import "banner";
@import "bar-selection";
@import "search";
@import "radius-slider";
@import "form";
@import "shared-view";
@import "nav_during_crawl";
@import "map";
@import "loader";
@import "popups";
@import "giphy";



//Smallest devices

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media(min-width: 100px) and (max-width: 576px) {
  .bar-selection {
    width:100%;
    flex-direction: column;
    align-items: center;
    height: 200vh;
  }
  .sidebar{
    width:100%;

  }
  .map-placeholder {
    width:80%;
    flex-direction: column;
    align-items: center;
  }
  .bar-card {
    margin-bottom:10px;
    align-self: center;
  }
  .rating-price-info {
    justify-content:center;
  }

 #group_name {
  width:40vh;
  align-self: center;
 }


.form-actions .btn-home-address{
  width:40vh;
  // align-self: center;
  align-self:center;
}

.home-banner  p {
  // text-align: center;
  font-size: 25px;
   width:40vh;
  // align-self:center;
  }

.home-button {
    width:60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

 .home-button .btn-home-address{
  margin-bottom: 1em;
 }


.home-wrapper {
  width:100%;
}
 .home-container {
  flex-direction:column;
   align-items: center;
  width: 70vh;
  justify-content: center;
 }
 .home-info {
  display : flex;
  width: 100vw;
  flex-direction:column;
   align-items: center;
 }

 .home-text h1{
  align-self:center;
 }



 .home-text p{
  width:80%;
  align-self:center;
  text-align: center;
 }




 .home-buttons {
   flex-direction:column;
   align-items: center;
   justify-content:center;
 }
 .home-buttons .btn-home-code {
    align-self:center;
    // margin-right: 50px;
  }

  .search-bar-homepage {
  width: 90%;
}

.footer {
  height:10vh;
  width:100vw;
}




}
