// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "footer";
@import "bar-card";
@import "banner";
@import "bar-selection";
@import "search";
@import "radius-slider";
@import "form";
@import "shared-view";
@import "nav_during_crawl";
@import "map";
@import "loader";


//Smallest devices
@media(min-width: 100px) and (max-width: 576px) {
  .bar-selection {
    width:100%;
    flex-direction: column;
    align-items: center;
    height: 200vh;
  }
  .sidebar{
    width:100%;

  }
  .map-placeholder {
    width:80%;
    flex-direction: column;
    align-items: center;
  }
  .bar-card {
    margin-bottom:10px;
    align-self: center;
  }
  .rating-price-info {
    justify-content:center;
  }

 #group_name {
  width:40vh;
  align-self: center;
 }


.form-actions .btn-home-address{
  width:40vh;
  // align-self: center;
  align-self:center;
}

.home-banner  p {
  // text-align: center;
  font-size: 25px;
   width:40vh;
  // align-self:center;
  }

.home-button {
    width:60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

 .home-button .btn-home-address{
  margin-bottom: 1em;
 }


}
