#progress-navbar {
  background: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  transition: background-color 200ms linear;
  z-index: 1;

  .navbar-step {
    text-align: center;
    padding: .5em 0;
    margin: 0;
    width: 25%;
  }
  .navbar-step.done {
    background: $corona-blue;
    color: white;
  }
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.nav-container {
  width: 100vw;
  height: 5vh;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.nav-wrapper {
  display: table-cell;
  width: 100vw;
  height: 100%;
}

/* Breadcrups CSS */
.arrow-steps {
  display: flex;
  justify-content: space-around;
}

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 0;
  padding: 11px 10px 10px 30px;
  width: 25%;
  float: left;
  position: relative;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid $corona-blue;
  border-top: 1px solid $corona-blue;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
  border-left: 21px solid white;
  z-index: 2;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  border: none;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: $corona-blue;
}

.arrow-steps .step.current:after {
  border-left: 17px solid $corona-blue;
}
