.navigation-display {
}

.header-during-crawl {
  text-align: center;
  background: $corona-blue;
  color: white;
  padding: 10px 10px;
  h2 {
    color: $corona-gold;
    font-weight: bolder;
    font-size: 30px;
  }
}

.footer-during-crawl {
  background: $corona-blue;
}

.footer-navigation {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  a {
    color: white;
    .fas {
      font-size: 45px;
    }
  }
  h2 {
    color: white;
    font-weight: bolder;
  }
}

#spin-the-wheel {
  border-radius: 50%;
  background: $corona-gold;
  height: 120px;
  width: 120px;
  left: 128px;
  top: 721px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: $corona-blue;
}


#spin-the-wheel:hover {
  text-decoration: none;
}

.spinner {
  text-align: right;
}
