.navigation-display {
}

.header-during-crawl {
  text-align: center;
  background: $corona-blue;
  color: white;
  padding: 10px 10px;
  h2 {
    color: white;
    font-size: 25px;
  }
}

.footer-during-crawl {
  background: $corona-blue;
}

.footer-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  a {
    color: white;
    .fas {
      font-size: 45px;
    }
  }
  h2 {
    color: white;
    font-weight: lighter;
    font-size: 28px;
    padding-top: 0.2em;
  }
}

.spinner {
  text-align: right;
}

.mario {
  height: 45px;
}
