#defaultCanvas0 {
  width: 100%;
  height: 100%;
}

.drink-selection {
  display: flex;
  overflow-x: scroll;
  height: 200px;
  width: 100vw;
  position: absolute;
  bottom: 25%;
  padding: 0 1em;
  text-align: center;

  .drink-container {
    width: 33vw;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $corona-blue 2px solid;
    border-radius: 10px;
    padding: 1em;
    justify-content: space-between;

    &.selected-drink {
      border: $corona-gold 2px solid;
      background: rgba(251, 194, 40, 0.2);
    }
  }
}

.drink-result {
  position: absolute;
  bottom: 25%;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $corona-blue 2px solid;
  border-radius: 10px;
  padding: 1em;

  img {
    margin-bottom: 1em;
  }

  h4 {
    white-space: nowrap;
  }
}
